/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #2F3061;
    background: #dddddd;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #2F3061;
}

a {
    color: #BC9671;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #BC9671;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background: #ffffff;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #BC9671;
    color: #2F3061;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    color: #BC9671;
    background: #2F3061;
}

.back-to-top i {
    padding-top: 10px;
}



/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 98px;
    background: #BC9671;
}

.top-bar .logo {
    padding: 0px 0;
    text-align: right;
    overflow: hidden;
}

.top-bar .logo img {
    width: 179px;
    height: 100px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar .top-bar-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar .top-bar-icon [class^="flaticon-"]::before {
    margin: 0;
    color: #ffffff;
    font-size: 40px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}
.top-bar .top-bar-text a:hover{
    color: #2F3061;
}
.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.top-bar .top-bar-text p {
    margin: 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    background: #BC9671;
    transition: .3s;
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1366px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    height: 100%;
    background: #2F3061 !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #BC9671;
    transition: none;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.nav-bar .btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
}

.nav-bar .btn:hover {
    color: #2F3061;
    background: #BC9671;
    border-color: #BC9671;
}
.nav-bar .ml-auto, .mx-auto {
    margin-right: auto!important;
}

@media (min-width: 992px) {
    .nav-bar {
        padding: 0 75px;
    }
    
    .nav-bar.nav-sticky {
        padding: 0;
    }
    
    .nav-bar .navbar {
        padding: 20px;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 18px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px;
    }
    
    .nav-bar a.nav-link {
        padding: 5px;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }
}


/*******************************/
/******** Carousel CSS *********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
    min-height: 400px;
}

.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 80px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.carousel .carousel-caption h1 {
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 35px;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    color: #2F3061;
    background: #BC9671;
    border-color: #BC9671;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }
    
    .carousel .carousel-caption p {
        font-size: 20px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }
    
    .carousel .carousel-caption p {
        font-size: 16px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 90px 0;
    text-align: center;
    background: #BC9671;
}
.page-header p{
    font-size: 50px;
}
.page-header h2 {
    position: relative;
    color: #2F3061;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #2F3061;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 35px;
    color: #2F3061;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #2F3061;
}
.page-header .btn{
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
}
.page-header .btn:hover {
    color: #2F3061;
    background: #BC9671;
    border-color: #ffffff;
}
.page-header a:last-child::after {
    display: none;
}

@media (max-width: 991.98px) {
    .page-header {
        padding: 60px 0;
    }
    .page-header p{
        font-size: 35px;
    }
    .page-header h2 {
        font-size: 45px;
    }
    
    .page-header a {
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 45px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.section-header p {
    color: #BC9671;
    font-size: 31px;
    font-weight: 900;
    margin-bottom: 14px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 55px;
    font-weight: 900;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/********* Feature CSS *********/
/*******************************/
.feature {
    position: relative;
    margin-bottom: 45px;
}

.feature .col-md-12 {
    background: #2F3061;
}
    
.feature .col-md-12:nth-child(2n) {
    color: #ffffff;
    background: #BC9671;
}

.feature .feature-item {
    min-height: 250px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.feature .feature-icon {
    position: relative;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature .feature-icon::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    top: -20px;
    left: -10px;
    border: 2px dotted #ffffff;
    border-radius: 60px;
    z-index: 1;
}

.feature .feature-icon::after {
    position: absolute;
    content: "";
    width: 79px;
    height: 79px;
    top: -18px;
    left: -9px;
    background: #2F3061;
    border-radius: 60px;
    z-index: 2;
}

.feature .col-md-12:nth-child(2n) .feature-icon::after {
    background: #BC9671;
}

.feature .feature-icon [class^="flaticon-"]::before {
    position: relative;
    margin: 0;
    color: #BC9671;
    font-size: 60px;
    line-height: 60px;
    z-index: 3;
}

.feature .feature-text {
    padding-left: 30px;
}

.feature .feature-text h3 {
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

.feature .feature-text p {
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.feature .col-md-12:nth-child(2n) [class^="flaticon-"]::before,
.feature .col-md-12:nth-child(2n) h3,
.feature .col-md-12:nth-child(2n) p {
    color: #2F3061;
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2F3061;
    border-radius: 0;
    background: #BC9671;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #BC9671;
    background: #2F3061;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}


/*******************************/
/********** Fact CSS ***********/
/*******************************/
.fact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.fact .col-6 {
    display: flex;
    align-items: flex-start;
}

.fact .fact-icon {
    position: relative;
    margin: 7px 15px 0 15px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fact .fact-icon [class^="flaticon-"]::before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#ffffff, #BC9671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fact .fact-right .fact-icon [class^="flaticon-"]::before {
    background-image: linear-gradient(#ffffff, #2F3061);
}

.fact .fact-left,
.fact .fact-right {
    padding-top: 60px;
    padding-bottom: 60px;
}

.fact .fact-text h2 {
    font-size: 35px;
    font-weight: 700;
}

.fact .fact-text p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.fact .fact-left {
    color: #BC9671;
    background: #2F3061;
}

.fact .fact-right {
    color: #2F3061;
    background: #BC9671;
}

.fact .fact-left h2 {
    color: #BC9671;
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.service .service-img {
    position: relative;
    overflow: hidden;
}

.service .service-img img {
    width: 100%;
}

.service .service-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(3, 15, 39, .7);
    transition: .5s;
    opacity: 0;
}

.service .service-item:hover .service-overlay {
    opacity: 1;
}

.service .service-overlay p {
    margin: 0;
    color: #ffffff;
}

.service .service-text {
    display: flex;
    align-items: center;
    height: 60px;
    background: #2F3061;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.service .service-text h3 {
    margin: 0;
    padding: 0 15px 0 25px;
    width: calc(100% - 60px);
    font-size: 20px;
    font-weight: 700;
    color: #BC9671;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.service .service-item a {
    width: 60px;
    height: 60px;
    padding: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: #2F3061;
    background: #BC9671;
    border-radius: 0;
    transition: .3s;
}

.service .service-item:hover a {
    color: #ffffff;
}


/*******************************/
/********** Video CSS **********/
/*******************************/
.video {
    position: relative;
    margin: 45px 0;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(3, 15, 39, .9), rgba(3, 15, 39, .9)), url(../img/carousel-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #BC9671;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #BC9671;
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play:hover:after {
    background-color: darken(#BC9671, 10%);
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #2F3061;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #2F3061;
    opacity: 1;
}


/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.team .team-img {
    position: relative;
}

.team .team-img img {
    width: 100%;
}

.team .team-text {
    position: relative;
    padding: 25px 15px;
    text-align: center;
    background: #2F3061;
    transition: .5s;
}

.team .team-text h2 {
    font-size: 20px;
    font-weight: 600;
    color: #BC9671;
    transition: .5s;
}

.team .team-text p {
    margin: 0;
    color: #ffffff;
}

.team .team-item:hover .team-text {
    background: #BC9671;
}

.team .team-item:hover .team-text h2 {
    color: #2F3061;
    letter-spacing: 1px;
}

.team .team-social {
    position: absolute;
    width: 100px;
    top: 0;
    left: -50px;
    display: flex;
    flex-direction: column;
    font-size: 0;
}

.team .team-social a {
    position: relative;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

.team .team-item:hover .team-social a:first-child {
    background: #00acee;
    left: 50px;
    transition: .3s 0s;
}

.team .team-item:hover .team-social a:nth-child(2) {
    background: #3b5998;
    left: 50px;
    transition: .3s .1s;
}

.team .team-item:hover .team-social a:nth-child(3) {
    background: #0e76a8;
    left: 50px;
    transition: .3s .2s;
}

.team .team-item:hover .team-social a:nth-child(4) {
    background: #3f729b;
    left: 50px;
    transition: .3s .3s;
}


/*******************************/
/*********** FAQs CSS **********/
/*******************************/
.faqs {
    position: relative;
    width: 100%;
    padding: 30px 0;
}
.faqs .btn {
    color: #2F3061;
    border: 2px solid #2F3061;
    border-radius: 0;
    width: 184px;
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 69px;
}

.faqs .btn:hover {
    color: #2F3061;
    background: #BC9671;
    border-color: #BC9671;
}
.faqs .row {
    position: relative;
}

.faqs .row::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: calc(50% - .5px);
    background: #BC9671;
}

.faqs #accordion-1 {
    padding-right: 15px;
}

.faqs #accordion-2 {
    padding-left: 0px;
    right: 50;
    /* position:  relative; */
    /* left: 591px; */
    /* top: -140px; */
}

@media(max-width: 767.98px) {
    .faqs .row::after {
        display: none;
    }
    
    .faqs #accordion-1,
    .faqs #accordion-2 {
        padding: 0;
    }
    
    .faqs #accordion-2 {
        padding-top: 15px;
    }
}

.faqs .card {
    margin-bottom: 15px;
    border: none;
    border-radius: 0;
}

.faqs .card:last-child {
    margin-bottom: 0;
}

.faqs .card-header {
    padding: 3px;
    border: none;
    background: #ffffff;
}

.faqs .card-header a {
    display: block;
    padding: 10px 25px;
    width: 100%;
    color: #2F3061;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid rgba(0, 0, 0, .1);
    transition: .5s;
}

.faqs .card-header [data-toggle="collapse"][aria-expanded="true"] {
    background: #BC9671;
}

.faqs .card-header [data-toggle="collapse"]:after {
    font-family: 'font Awesome 5 Free';
    content: "\f067";
    float: right;
    color: #BC9671;
    font-size: 12px;
    font-weight: 900;
    transition: .5s;
}

.faqs .card-header [data-toggle="collapse"][aria-expanded="true"]:after {
    font-family: 'font Awesome 5 Free';
    content: "\f068";
    float: right;
    color: #2F3061;
    font-size: 12px;
    font-weight: 900;
    transition: .5s;
}

.faqs .card-body {
    padding: 20px 25px;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: none;
}


/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    margin: 45px 0;
    padding: 90px 0;
    text-align: center;
    background: linear-gradient(rgba(22, 43, 85, 0.9),  rgba(3, 15, 39, .7)), url(../img/carousel-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial .container {
    max-width: 760px;
}

.about-page .testimonial {
    padding-bottom: 90px;
}

.testimonial .testimonial-slider-nav {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.testimonial .testimonial-slider-nav .slick-slide {
    position: relative;
    opacity: 0;
    transition: .5s;
}

.testimonial .testimonial-slider-nav .slick-active {
    opacity: 1;
    transform: scale(1.3);
}

.testimonial .testimonial-slider-nav .slick-center {
    transform: scale(1.8);
    z-index: 1;
}

.testimonial .testimonial-slider-nav .slick-slide img {
    position: relative;
    display: block;
    margin-top: 37px;
    width: 100%;
    height: auto;
    border-radius: 100px;
}

.testimonial .testimonial-slider {
    position: relative;
    margin-top: 15px;
    padding-top: 50px;
}

.testimonial .testimonial-slider::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 46px;
    top: 0;
    left: calc(50% - 30px);
    background: url(../img/quote.png) top center no-repeat;
    color: #BC9671;
}
.testimonial .btn{
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
}
.testimonial .btn:hover {
    color: #2F3061;
    background: #BC9671;
    border-color: #BC9671;
}



.testimonial .testimonial-slider h3 {
    color: #BC9671;
    font-size: 30px;
    font-weight: 700;
}

.testimonial .testimonial-slider h4 {
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial .testimonial-slider p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    margin: 20px;
}



/*******************************/
/******* Single Post CSS *******/
/*******************************/
.single {
    position: relative;
    padding: 45px 0;
}

.single .btn{
    color: #2F3061;
    border: 2px solid #2F3061;
    border-radius: 0;
}
.single .btn:hover {
    color: #2F3061;
    background: #BC9671;
    border-color: #BC9671;
}
.single .single-content {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.single .single-content img {
    margin-bottom: 20px;
    text-align: center;
}

.single .single-tags {
    margin: -5px -5px 41px -5px;
    font-size: 0;
}

.single .single-tags a {
    margin: 5px;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #2F3061;
    border: 1px solid #dddddd;
}

.single .single-tags a:hover {
    color: #BC9671;
    background: #2F3061;
}

.single .single-bio {
    margin-bottom: 45px;
    padding: 30px;
    background: #f3f6ff;
    display: flex;
}

.single .single-bio-img {
    width: 100%;
    max-width: 100px;
}

.single .single-bio-img img {
    width: 100%;
}

.single .single-bio-text {
    padding-left: 30px;
}

.single .single-bio-text h3 {
    font-size: 20px;
    font-weight: 700;
}

.single .single-bio-text p {
    margin: 0;
}

.single .single-related {
    margin-top: 85px;
    margin-bottom: 45px;
}

.single .single-related h2 {
    font-size: 51px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .related-slider {
    position: relative;
    margin: 0 -15px;
    width: calc(100% + 30px);
}

.single .related-slider .post-item {
    margin: 0 15px;
}

.single .post-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.single .post-item .post-img {
    width: 100%;
    max-width: 80px;
}

.single .post-item .post-img img {
    width: 100%;
}

.single .post-item .post-text {
    padding-left: 15px;
}

.single .post-item .post-text a {
    font-size: 40px;
    font-weight: 400;
}

.single .post-item .post-meta {
    display: flex;
    margin-top: 8px;
}

.single .post-item .post-meta p {
    display: inline-block;
    margin: 0;
    padding: 0 3px;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.single .post-item .post-meta p a {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.single .related-slider .owl-nav {
    position: absolute;
    width: 90px;
    top: -55px;
    right: 15px;
    display: flex;
}

.single .related-slider .owl-nav .owl-prev,
.single .related-slider .owl-nav .owl-next {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2F3061;
    background: #BC9671;
    font-size: 16px;
    transition: .3s;
}

.single .related-slider .owl-nav .owl-prev:hover,
.single .related-slider .owl-nav .owl-next:hover {
    color: #BC9671;
    background: #2F3061;
}

.single .single-comment {
    position: relative;
    margin-bottom: 45px;
}

.single .single-comment h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .comment-list {
    list-style: none;
    padding: 0;
}

.single .comment-child {
    list-style: none;
}

.single .comment-body {
    display: flex;
    margin-bottom: 30px;
}

.single .comment-img {
    width: 60px;
}

.single .comment-img img {
    width: 100%;
}

.single .comment-text {
    padding-left: 15px;
    width: calc(100% - 60px);
}

.single .comment-text h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.single .comment-text span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

.single .comment-text .btn {
    padding: 3px 10px;
    font-size: 14px;
    color: #2F3061;
    background: #dddddd;
    border-radius: 0;
}

.single .comment-text .btn:hover {
    background: #BC9671;
}

.single .comment-form {
    position: relative;
}

.single .comment-form h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .comment-form form {
    padding: 30px;
    background: #f3f6ff;
}

.single .comment-form form .form-group:last-child {
    margin: 0;
}

.single .comment-form input,
.single .comment-form textarea {
    border-radius: 0;
}

.single .comment-form .btn {
    padding: 15px 30px;
    color: #2F3061;
    background: #BC9671;
}

.single .comment-form .btn:hover {
    color: #BC9671;
    background: #2F3061;
}
@media(max-width: 767.98px) {
    .single .about-img img{
    width: 250px;
    height: 330px;
}
.single .single-related {
    margin-top: 85px;
    margin-bottom: 0px;
}
.single{
    padding: 0px;
}}
@media(max-width: 991.98px) {
    .single .about-img img{
        width: 272px;
        height: 330px;
    }  
}

/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 100%;
}

@media(max-width: 991.98px) {
    .sidebar {
        margin-top: 45px;
    }
}

.sidebar .sidebar-widget {
    position: relative;
    margin-bottom: 45px;
}

.sidebar .sidebar-widget .widget-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
}

.sidebar .sidebar-widget .widget-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #BC9671;
}

.sidebar .sidebar-widget .search-widget {
    position: relative;
}

.sidebar .search-widget input {
    height: 50px;
    border: 1px solid #dddddd;
    border-radius: 0;
}

.sidebar .search-widget input:focus {
    box-shadow: none;
}

.sidebar .search-widget .btn {
    position: absolute;
    top: 6px;
    right: 15px;
    height: 40px;
    padding: 0;
    font-size: 25px;
    color: #BC9671;
    background: none;
    border-radius: 0;
    border: none;
    transition: .3s;
}

.sidebar .search-widget .btn:hover {
    color: #2F3061;
}

.sidebar .sidebar-widget .recent-post {
    position: relative;
}

.sidebar .sidebar-widget .tab-post {
    position: relative;
}

.sidebar .tab-post .nav.nav-pills .nav-link {
    color: #BC9671;
    background: #2F3061;
    border-radius: 0;
}

.sidebar .tab-post .nav.nav-pills .nav-link:hover,
.sidebar .tab-post .nav.nav-pills .nav-link.active {
    color: #2F3061;
    background: #BC9671;
}

.sidebar .tab-post .tab-content {
    padding: 15px 0 0 0;
    background: transparent;
}

.sidebar .tab-post .tab-content .container {
    padding: 0;
}

.sidebar .sidebar-widget .category-widget {
    position: relative;
}

.sidebar .category-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .category-widget ul li {
    margin: 0 0 12px 22px; 
}

.sidebar .category-widget ul li:last-child {
    margin-bottom: 0; 
}

.sidebar .category-widget ul li a {
    display: inline-block;
    line-height: 23px;
}

.sidebar .category-widget ul li::before {
    position: absolute;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #BC9671;
    left: 1px;
}

.sidebar .category-widget ul li span {
    display: inline-block;
    float: right;
}

.sidebar .sidebar-widget .tag-widget {
    position: relative;
    margin: -5px -5px;
}

.single .tag-widget a {
    margin: 5px;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #BC9671;
    border: 1px solid #dddddd;
}

.single .tag-widget a:hover {
    color: #BC9671;
    background: #2F3061;
}

.sidebar .image-widget {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar .image-widget img {
    max-width: 100%;
    transition: .3s;
}

.sidebar .image-widget img:hover {
    transform: scale(1.1);
}


/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
    position: relative;
    padding: 45px 0;
}
.portfolio p {
    color: #666666;
    margin: 31px;
    text-align: center;
    margin: auto;
    }
.portfolio #portfolio-flters {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.portfolio #portfolio-flters li,
.portfolio .load-more .btn {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    color: #2F3061;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    background: #BC9671;
    border: none;
    transition: .3s;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: #2F3061;
    color: #BC9671;
}

.portfolio .load-more {
    text-align: center;
}

.portfolio .load-more .btn {
    padding: 15px 35px;
    font-size: 16px;
    transition: .3s;
}

.portfolio .load-more .btn:hover {
    color: #BC9671;
    background: #2F3061;
}

.portfolio .portfolio-warp {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.portfolio .portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-img img {
    width: 100%;
    transition: .3s;
}

.portfolio .portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio .portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2F3061;
    transition: .5s;
    opacity: 0;
}

.portfolio .portfolio-warp:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio .portfolio-overlay p {
    margin: 0;
    color: #ffffff;
}

.portfolio .portfolio-text {
    display: flex;
    align-items: center;
    height: 60px;
    background: #2F3061;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.portfolio .portfolio-text h3 {
    margin: 0;
    padding: 0 15px 0 25px;
    width: calc(100% - 60px);
    font-size: 20px;
    font-weight: 700;
    color: #BC9671;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.portfolio .portfolio-warp a.btn {
    width: 60px;
    height: 60px;
    padding: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: #2F3061;
    background: #ffffff;
    border-radius: 0;
    transition: .3s;
}

.portfolio .portfolio-warp:hover a.btn {
    color: #ffffff;
    background: #BC9671;
}


/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.contact .col-md-6 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact .col-md-6:first-child {
    background: #2F3061;
}

.contact .col-md-6:last-child {
    background: #BC9671;
}

.contact .contact-info {
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.contact .contact-item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: 1px solid rgba(256, 256, 256, .2);
}

.contact .contact-item [class^="flaticon-"]::before {
    margin: 0;
    color: #BC9671;
    font-size: 40px;
}

.contact .contact-text {
    position: relative;
    width: auto;
    padding-left: 20px;
}

.contact .contact-text h2 {
    color: #BC9671;
    font-size: 20px;
    font-weight: 600;
}

.contact .contact-text p {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}

.contact .contact-item:last-child {
    margin-bottom: 0;
}

.contact .contact-form {
    position: relative;
    padding: 0 15px;
}

.contact .contact-form input {
    color: #ffffff;
    height: 40px;
    border-radius: 0;
    border-width: 1px;
    border-color: rgba(256, 256, 256, .4);
    background: transparent;
}

.contact .contact-form textarea {
    color: #ffffff;
    height: 185px;
    border-radius: 0;
    border-width: 1px;
    border-color: rgba(256, 256, 256, .4);
    background: transparent;
}

.contact .contact-form input:focus,
.contact .contact-form textarea {
    box-shadow: none;
}

.contact .contact-form .form-control::placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .contact-form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

.contact .contact-form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

.contact .contact-form .btn {
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #BC9671;
    background: #2F3061;
    border: none;
    border-radius: 0;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #2F3061;
    background: #ffffff;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.customForm .btn{
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
    padding: 8px 20px;
    width: fit-content;
    text-align: center;
    margin: auto;
}
.customForm .btn:hover {
    color: #2F3061;
    background: #BC9671;
    border-color: #ffffff;
}
@media (max-width: 991.98px) {
    .contact .contact-text p {
        margin: 0;
        color: #ffffff;
        font-size: 15px;
    }
}
@media (max-width: 767.98px) {
    .contact .contact-text p {
        margin: 0;
        color: #ffffff;
        font-size: 10px;
    }
}
/*******************************/
/********* Footer CSS **********/
/*******************************/
.ftco-footer {
    font-size: 17px;
    background: #2F3061;
    padding: 3em 0 0 0;
    z-index: 0;
    position: relative;
    z-index: 0;
    }
        .ftco-footer a{
            text-decoration: none;
            display: inline;
        }
    .ftco-footer .ftco-footer-widget ul {
        list-style-type: none;
    }
    @media (max-width: 991.98px) {
    .ftco-footer .ftco-footer-widget {
        margin-bottom: 40px; } }
    .ftco-footer .ftco-footer-widget ul {
      margin: 0;
      padding: 0; }
      .ftco-footer .ftco-footer-widget ul li {
        margin-bottom: 10px;
        color: #ffffff;
        }
        .ftco-footer .ftco-footer-widget ul li a {
          color: #ffffff; 
          text-align: center;
          padding: 7px 0;}
          .ftco-footer .ftco-footer-widget ul li a span {
            color: #ffffff;
            font-size: 14px; }
            .ftco-footer .ftco-footer-widget ul li a span:hover  {
                color: #BC9671;}
          .ftco-footer .ftco-footer-widget ul li a:hover {
            color: #BC9671; }
    .ftco-footer p {
      color: #ffffff; }
    .ftco-footer .ftco-heading-2 {
      font-size: 22px;
      font-weight: 600;
      color: #BC9671;
      margin-bottom: 17px;
      letter-spacing: 1px;
      }
    .ftco-footer .logo a {
      color: #BC9671; }
      .ftco-footer .logo a span.flaticon {
        font-size: 24px;
        line-height: 1; }
    .ftco-footer .bg-primary {
      background: #2F3061 !important;
      position: relative;
      z-index: 0;
      overflow: hidden; }
      .ftco-footer .bg-primary p {
        color: rgba(255, 255, 255, 0.7); }
        .ftco-footer .bg-primary p a {
          color: #fff;
          text-decoration: underline; }
      .ftco-footer .bg-primary .aside-stretch {
        background-color: #BC9671; }
        .ftco-footer .bg-primary .aside-stretch:after {
          background-color: #BC9671; }
        .ftco-footer .bg-primary .aside-stretch:before {
          position: absolute;
          top: 0;
          right: 100px;
          content: '';
          width: 100px;
          height: 100%;
          background: #BC9671;
          -webkit-transform: matrix(1, 0, 0.9, 1, 150, 0);
          -ms-transform: matrix(1, 0, 0.9, 1, 150, 0);
          transform: matrix(1, 0, 0.9, 1, 150, 0);
          z-index: -1; }
        @media (max-width: 767.98px) {
          .ftco-footer .bg-primary .aside-stretch:before {
            display: none; } }
  
  .ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    }
    .ftco-footer-social li a {
      height: 40px;
      width: 40px;
      display: block;
      background: rgba(255, 255, 255, 0.08);
      position: relative;
      border-radius: 50%; }
      .ftco-footer-social li a span {
        position: absolute;
        font-size: 20px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff !important; }
      .ftco-footer-social li a:hover {
        background: #2F3061; }
  
        .ftco-footer .logo img {
            width: 179px;
            height: 100px;
        }
        .fab .fa-tiktok {
            color: #111111;
            filter: drop-shadow(-5px -5px 0 #24f6f0) contrast(150%) brightness(110%);
            z-index: -1;
          }
          
          .fab .fa-tiktok::after {
            filter: drop-shadow(5px 5px 0 #F70250) contrast(150%) brightness(110%);
            z-index: -1;
          }
          
          .fa-2x {
            font-size: 1em;
        }
        .modal-open {
            overflow: hidden; }
            .modal-open .modal {
              overflow-x: hidden;
              overflow-y: auto; }
          
          .modal {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1050;
            display: none;
            width: 100%;
            height: 100%;
            overflow: hidden;
            outline: 0; }
          
            .close {
                float: right;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1;
                color: #081f5e;
                text-shadow: 0 1px 0 #fff;
                opacity: .5;
            }
          .modal-dialog {
            position: relative;
            width: auto;
            margin: 0.5rem;
            pointer-events: none; }
            .modal.fade .modal-dialog {
              -webkit-transition: -webkit-transform 0.3s ease-out;
              transition: -webkit-transform 0.3s ease-out;
              -o-transition: transform 0.3s ease-out;
              transition: transform 0.3s ease-out;
              transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
              -webkit-transform: translate(0, -50px);
              -ms-transform: translate(0, -50px);
              transform: translate(0, -50px); }
              @media (prefers-reduced-motion: reduce) {
                .modal.fade .modal-dialog {
                  -webkit-transition: none;
                  -o-transition: none;
                  transition: none; } }
            .modal.show .modal-dialog {
              -webkit-transform: none;
              -ms-transform: none;
              transform: none; }
            .modal.modal-static .modal-dialog {
              -webkit-transform: scale(1.02);
              -ms-transform: scale(1.02);
              transform: scale(1.02); }
          
          .modal-dialog-scrollable {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            max-height: calc(100% - 1rem); }
            .modal-dialog-scrollable .modal-content {
              max-height: calc(100vh - 1rem);
              overflow: hidden; }
            .modal-dialog-scrollable .modal-header,
            .modal-dialog-scrollable .modal-footer {
              -ms-flex-negative: 0;
              flex-shrink: 0; }
            .modal-dialog-scrollable .modal-body {
              overflow-y: auto; }
          
          .modal-dialog-centered {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            min-height: calc(100% - 1rem); }
            .modal-dialog-centered::before {
              display: block;
              height: calc(100vh - 1rem);
              height: -webkit-min-content;
              height: -moz-min-content;
              height: min-content;
              content: ""; }
            .modal-dialog-centered.modal-dialog-scrollable {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              height: 100%; }
              .modal-dialog-centered.modal-dialog-scrollable .modal-content {
                max-height: none; }
              .modal-dialog-centered.modal-dialog-scrollable::before {
                content: none; }
          
          .modal-content {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0.3rem;
            outline: 0; }
          
          .modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1040;
            width: 100vw;
            height: 100vh;
            background-color: #000; }
            .modal-backdrop.fade {
              opacity: 0; }
            .modal-backdrop.show {
              opacity: 0.5; }
          
          .modal-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 1rem 1rem;
            border-bottom: 1px solid #dee2e6;
            border-top-left-radius: calc(0.3rem - 1px);
            border-top-right-radius: calc(0.3rem - 1px); }
            .modal-header .close {
              padding: 1rem 1rem;
              margin: -1rem -1rem -1rem auto; }
          
          .modal-title {
            margin-bottom: 0;
            line-height: 1.5; }
          
          .modal-body {
            position: relative;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1rem; }
          
          .modal-footer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: 0.75rem;
            border-top: 1px solid #dee2e6;
            border-bottom-right-radius: calc(0.3rem - 1px);
            border-bottom-left-radius: calc(0.3rem - 1px); }
            .modal-footer > * {
              margin: 0.25rem; }
          
          .modal-scrollbar-measure {
            position: absolute;
            top: -9999px;
            width: 50px;
            height: 50px;
            overflow: scroll; }
          
          @media (min-width: 576px) {
            .modal-dialog {
              max-width: 500px;
              margin: 1.75rem auto; }
            .modal-dialog-scrollable {
              max-height: calc(100% - 3.5rem); }
              .modal-dialog-scrollable .modal-content {
                max-height: calc(100vh - 3.5rem); }
            .modal-dialog-centered {
              min-height: calc(100% - 3.5rem); }
              .modal-dialog-centered::before {
                height: calc(100vh - 3.5rem);
                height: -webkit-min-content;
                height: -moz-min-content;
                height: min-content; }
            .modal-sm {
              max-width: 300px; } }
          
          @media (min-width: 992px) {
            .modal-lg,
            .modal-xl {
              max-width: 800px; } }
          
          @media (min-width: 1200px) {
            .modal-xl {
              max-width: 1140px; } }
          